.header {
	font-size: 20px;
	line-height: 1.7;
	margin: 60px auto;
}
.header span {
	display: block;
}
.section {
	padding: 30px 0;
}
.container, col-lg-6 {
	/* border: 2px solid red; */
}
.form-header, .section-header {
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 20px;
}
.form {
	border: 5px solid #198754;
	padding: 35px 25px;
	height: 315px;
}
.form input {
	margin-bottom: 12px;
}
.form-btn {
	margin: 10px auto;
}
.form button {
	margin: 27px;
}
.feature {
	margin-top: 60px;
}
.feature p {
	margin-top: 20px;
}
.btn {
	margin-top: 60px;
}
.video {
	margin-bottom: 30px;
}